allow init debugfs:file write;

allow init sysfs_touchscreen:file setattr;

allow init proc_driver_audio:file w_file_perms;

allow init init:process { setcurrent };

allow init init:capability { setpcap };

allow init block_device:blk_file { write };

allow init property_socket:sock_file { write };
